<div class="home">

  <!--VIDEO BACKGROUND-->
  <div class="container-fluid video-background">
    <%= video_tag "Laptop_1.mov", controls: false, autoplay: true, loop: true%>
    <div class="video-mask">
    </div>
    <div class="welcome container-fluid">
      <%= image_tag "logos/Logo_Pomelo-03.png" %>
      <h1>We create websites that <strong><span id="type-animation"></span></strong></h1>
    </div>
  </div>

  <div class="container-fluid service-logos">
    <%= image_tag 'logos/ruby_on_rails.png' %>
    <%= image_tag 'logos/javascript.png' %>
    <%= image_tag 'logos/html.png' %>
    <%= image_tag 'logos/css.png' %>
  </div>

  <div class="col-md-9 contact">
    <h1>Let's build something together.</h1>
  </div>
  <div class="col-md-3 contact email">
    <h1><strong><%= link_to 'EMAIL US', 'mailto:hello@pomelo.nyc' %></strong></h1>
  </div>



</div>
