<div class="home">

  <!--VIDEO BACKGROUND-->
  <div class="container-fluid video-background">
    <%= video_tag "Laptop_1.mov", controls: false, autoplay: true, loop: true%>
    <div class="video-mask">
    </div>
    <div class="welcome container-fluid">
      <%= image_tag "logos/Logo_Pomelo-03.png" %>
      <h1>Let us help you build something <strong><span id="type-animation"></span></strong></h1>
    </div>
  </div>

  <div class="container-fluid services">
    <h2>Combine expert design and development with an effective, results-oriented workflow.</h2>
    <p>Whether you've been in business for 50 years or 2 days, an experienced web development team will be a crucial asset to your continued success.</p>
    <br>
    <i class="devicon-ruby-plain"></i>
    <i class="devicon-rails-plain"></i>
    <i class="devicon-postgresql-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-jquery-plain"></i>
    <i class="devicon-bootstrap-plain"></i>
    <i class="devicon-illustrator-plain"></i>
    <i class="devicon-photoshop-plain"></i>
    <i class="devicon-html5-plain"></i>
    <i class="devicon-css3-plain"></i>
  </div>

  <div class="col-md-4 column1">
    <h1><strong><%= link_to 'GET A QUOTE', 'mailto:hello@pomelo.nyc' %></strong></h1>
  </div>
  <div class="col-md-4 column2">
    <h3><%= link_to 'hello@pomelo.nyc', 'mailto:hello@pomelo.nyc' %></h3>
  </div>
  <div class="col-md-4 column1">
    <h1><strong><%= link_to 'EMAIL US', 'mailto:hello@pomelo.nyc' %></strong></h1>
  </div>




</div>
