<!DOCTYPE html>
<html>
<head>
  <title>Pomelo</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Lato:400,100,300,700|Quicksand:100,300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/navbar' %>
  <%= yield %>
</body>

</html>
